@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-onest, Arial, Helvetica, sans-serif);
}

@theme {
    --color-ddSky: #d9e8ff;
    --color-ddButter: #f7e498;
    --color-ddBlush: #f7bfcc;
    --color-ddInkBlue: #0d3b9f;
    --color-ddCocoa: #4f1d16;
}
